@model Resolv.Web.Models.StepTwoViewModel

@{
    ViewData["Title"] = "Risk Assessment";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a asp-controller="Assessment" asp-action="Index">Assessments</a>
        </li>
        <li class="breadcrumb-item">
            <a asp-controller="Assessment" asp-action="Assessments" asp-route-riskid="@Model.RiskUid"
                asp-route-holdingcompanyid="@Model.HoldingCompanyId">Risk Lines</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]</li>
    </ol>
</nav>

<div class="row">
    <div class="col-md-12">
        <h2>@ViewData["Title"]</h2>
        <hr />

        <form asp-action="StepTwo" method="post">
            <div asp-validation-summary="All" class="alert alert-danger"
                style="display: @(ViewData.ModelState.IsValid ? "none" : "block")"></div>

            @Html.HiddenFor(m => m.RiskUid)
            @Html.HiddenFor(m => m.RiskLineUid)
            @Html.HiddenFor(m => m.HoldingCompanyId)

            <div class="row">
                <div class="col-md-3">
                    <div class="form-group mb-3">
                        <label asp-for="SeverityId"
                            class="form-label fw-bold text-uppercase small custom-label"></label>
                        <select asp-for="SeverityId" asp-items="Model.Severities" class="form-select">
                        </select>
                        <span asp-validation-for="SeverityId" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group mb-3">
                        <label asp-for="FrequencyId"
                            class="form-label fw-bold text-uppercase small custom-label"></label>
                        <select asp-for="FrequencyId" asp-items="Model.Frequencies" class="form-select">
                        </select>
                        <span asp-validation-for="FrequencyId" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group mb-3">
                        <label asp-for="ExposureId"
                            class="form-label fw-bold text-uppercase small custom-label"></label>
                        <select asp-for="ExposureId" asp-items="Model.Exposures" class="form-select">
                        </select>
                        <span asp-validation-for="ExposureId" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group mb-3">
                        <label asp-for="RawRisk"
                            class="form-label fw-bold text-uppercase small custom-label"></label>
                        <div class="d-flex align-items-center">
                            @{
                                string buttonClassRawRisk = "btn-danger"; // Default for 0-50 (RED)
                                if (Model.RawRisk >= 51 && Model.RawRisk <= 99)
                                {
                                    buttonClassRawRisk = "btn-warning"; // ORANGE for 51-99
                                }
                                else if (Model.RawRisk > 99)
                                {
                                    buttonClassRawRisk = "btn-success"; // GREEN for 99+
                                }
                            }
                            <button type="button" class="btn @buttonClassRawRisk" style="min-width: 80px;">
                                @Model.RawRisk
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <div class="form-group mb-3">
                        <label asp-for="EliminateId"
                            class="form-label fw-bold text-uppercase small custom-label"></label>
                        <select asp-for="EliminateId" asp-items="Model.Eliminates" class="form-select">
                        </select>
                        <span asp-validation-for="EliminateId" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="form-group mb-3">
                        <label asp-for="EliminateRec"
                            class="form-label fw-bold text-uppercase small custom-label"></label>
                        <textarea asp-for="EliminateRec" class="form-control" rows="3"></textarea>
                        <span asp-validation-for="EliminateRec" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <hr style="color: #9ca0a5;" />
            <div class="row d-none d-md-flex">
                <div class="col-md-3">
                </div>
                <div class="col-md-4">
                    <label class="form-label fw-bold text-uppercase small custom-label">Current Controls</label>
                </div>
                <div class="col-md-5">
                    <label class="form-label fw-bold text-uppercase small custom-label">Recommendations</label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group mb-3">
                        <label asp-for="EngControlId"
                            class="form-label fw-bold text-uppercase small custom-label"></label>
                        <select asp-for="EngControlId" asp-items="Model.EngControls" class="form-select">
                        </select>
                        <span asp-validation-for="EngControlId" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group mb-3">
                        <label asp-for="CurrentEngControls"
                            class="form-label fw-bold text-uppercase small d-block d-sm-none custom-label"></label>
                        <textarea asp-for="CurrentEngControls" class="form-control" rows="3"></textarea>
                        <span asp-validation-for="CurrentEngControls" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group mb-3">
                        <label asp-for="RecEngControls"
                            class="form-label fw-bold text-uppercase small d-block d-sm-none custom-label"></label>
                        <textarea asp-for="RecEngControls" class="form-control" rows="3"></textarea>
                        <span asp-validation-for="RecEngControls" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <div class="form-group mb-3">
                        <label asp-for="AdminControlId"
                            class="form-label fw-bold text-uppercase small custom-label"></label>
                        <select asp-for="AdminControlId" asp-items="Model.AdminControls" class="form-select">
                        </select>
                        <span asp-validation-for="AdminControlId" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group mb-3">
                        <label asp-for="CurrentAdminControls"
                            class="form-label fw-bold text-uppercase small d-block d-sm-none custom-label"></label>
                        <textarea asp-for="CurrentAdminControls" class="form-control" rows="3"></textarea>
                        <span asp-validation-for="CurrentAdminControls" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group mb-3">
                        <label asp-for="RecAdminControls"
                            class="form-label fw-bold text-uppercase small d-block d-sm-none custom-label"></label>
                        <textarea asp-for="RecAdminControls" class="form-control" rows="3"></textarea>
                        <span asp-validation-for="RecAdminControls" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <div class="form-group mb-3">
                        <label asp-for="ManagementSuperId"
                            class="form-label fw-bold text-uppercase small custom-label"></label>
                        <select asp-for="ManagementSuperId" asp-items="Model.ManagementSupers" class="form-select">
                        </select>
                        <span asp-validation-for="ManagementSuperId" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group mb-3">
                        <label asp-for="CurrentManagementSuperControls"
                            class="form-label fw-bold text-uppercase small d-block d-sm-none custom-label"></label>
                        <textarea asp-for="CurrentManagementSuperControls" class="form-control" rows="3"></textarea>
                        <span asp-validation-for="CurrentManagementSuperControls" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-5">
                    <div class="form-group mb-3">
                        <label asp-for="RecManagementSuperControls"
                            class="form-label fw-bold text-uppercase small d-block d-sm-none custom-label"></label>
                        <textarea asp-for="RecManagementSuperControls" class="form-control" rows="3"></textarea>
                        <span asp-validation-for="RecManagementSuperControls" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <div class="form-group mb-3">
                        <label asp-for="PPEControlId"
                            class="form-label fw-bold text-uppercase small custom-label"></label>
                        <select asp-for="PPEControlId" asp-items="Model.PPEControls" class="form-select">
                        </select>
                        <span asp-validation-for="PPEControlId" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group mb-3">
                        <label asp-for="CurrentPPEControls"
                            class="form-label fw-bold text-uppercase small d-block d-sm-none custom-label"></label>
                        <textarea asp-for="CurrentPPEControls" class="form-control" rows="3"></textarea>
                        <span asp-validation-for="CurrentPPEControls" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-5">
                    <div class="form-group mb-3">
                        <label asp-for="RecPPEControls"
                            class="form-label fw-bold text-uppercase small d-block d-sm-none custom-label"></label>
                        <textarea asp-for="RecPPEControls" class="form-control" rows="3"></textarea>
                        <span asp-validation-for="RecPPEControls" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <div class="form-group mb-3">
                        <label asp-for="ConformLegalReqId"
                            class="form-label fw-bold text-uppercase small custom-label"></label>
                        <select asp-for="ConformLegalReqId" asp-items="Model.ConformLegalReqs" class="form-select">
                        </select>
                        <span asp-validation-for="ConformLegalReqId" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group mb-3">
                        <label asp-for="CurrentConformLegalReqControls"
                            class="form-label fw-bold text-uppercase small d-block d-sm-none custom-label"></label>
                        <textarea asp-for="CurrentConformLegalReqControls" class="form-control" rows="3"></textarea>
                        <span asp-validation-for="CurrentConformLegalReqControls" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group mb-3">
                        <label asp-for="RecConformLegalReqControls"
                            class="form-label fw-bold text-uppercase small d-block d-sm-none custom-label"></label>
                        <textarea asp-for="RecConformLegalReqControls" class="form-control" rows="3"></textarea>
                        <span asp-validation-for="RecConformLegalReqControls" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-2">
                    <div class="form-group mb-3">
                        <label asp-for="ResidualRisk"
                            class="form-label fw-bold text-uppercase small custom-label"></label>
                        <div class="d-flex align-items-center">
                            @{
                                string buttonClassResidualRisk = "btn-danger"; // Default for 0-50 (RED)
                                if (Model.ResidualRisk >= 51 && Model.ResidualRisk <= 99)
                                {
                                    buttonClassResidualRisk = "btn-warning"; // ORANGE for 51-99
                                }
                                else if (Model.ResidualRisk > 99)
                                {
                                    buttonClassResidualRisk = "btn-success"; // GREEN for 99+
                                }
                            }
                            <button type="button" class="btn @buttonClassResidualRisk" style="min-width: 80px;">
                                @Model.ResidualRisk
                            </button>
                        </div>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="form-group mb-3">
                        <label asp-for="Priority"
                            class="form-label fw-bold text-uppercase small custom-label"></label>
                        <div class="d-flex align-items-center">
                            @{
                                string buttonClassPriority = "btn-danger"; // Default 1
                                if (Model.Priority == 2 || Model.Priority == 3)
                                {
                                    buttonClassPriority = "btn-warning"; // ORANGE for 2-3
                                }
                                else if (Model.Priority >= 4)
                                {
                                    buttonClassPriority = "btn-success"; // GREEN for 4+
                                }
                            }
                            <button type="button" class="btn @buttonClassPriority" style="min-width: 80px;">
                                P @Model.Priority
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <hr style="color: #9ca0a5;" />
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group mb-3">
                        <label asp-for="AssignedToCompositeId"
                            class="form-label fw-bold text-uppercase small custom-label"></label>
                        <input asp-for="AssignedToCompositeId" class="form-control" />
                        <span asp-validation-for="AssignedToCompositeId" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group mb-3">
                        <label asp-for="AssignedDate"
                            class="form-label fw-bold text-uppercase small custom-label"></label>
                        <input asp-for="AssignedDate" type="date" class="form-control" />
                        <span asp-validation-for="AssignedDate" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group mb-3">
                        <label asp-for="CorrectiveActionDate"
                            class="form-label fw-bold text-uppercase small custom-label"></label>
                        <input asp-for="CorrectiveActionDate" type="date" class="form-control" />
                        <span asp-validation-for="CorrectiveActionDate" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <a class="btn btn-secondary" asp-controller="Assessment" asp-action="Assessments"
                        asp-route-riskid="@Model.RiskUid"
                        asp-route-holdingcompanyid="@Model.HoldingCompanyId">Cancel</a>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

<style>
    .custom-label {
        color: #9b9494;
    }
</style>