@model Resolv.Web.Models.StepTwoViewModel

@{
    ViewData["Title"] = "Risk Assessment";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a asp-controller="Assessment" asp-action="Index">Assessments</a>
        </li>
        <li class="breadcrumb-item">
            <a asp-controller="Assessment" asp-action="Assessments" asp-route-riskid="@Model.RiskUid"
                asp-route-holdingcompanyid="@Model.HoldingCompanyId">Risk Lines</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]</li>
    </ol>
</nav>

<div class="row">
    <div class="col-md-12">
        <h2>@ViewData["Title"]</h2>
        <hr />

        <form asp-action="StepTwo" method="post">
            <div asp-validation-summary="All" class="alert alert-danger"
                style="display: @(ViewData.ModelState.IsValid ? "none" : "block")"></div>

            @Html.HiddenFor(m => m.RiskUid)
            @Html.HiddenFor(m => m.RiskLineUid)
            @Html.HiddenFor(m => m.HoldingCompanyId)
            @Html.HiddenFor(m => m.RawRisk)
            @Html.HiddenFor(m => m.ResidualRisk)

            <div class="row">
                <div class="col-md-3">
                    <div class="form-group mb-3">
                        <label asp-for="SeverityId"
                            class="form-label fw-bold text-uppercase small custom-label"></label>
                        <select asp-for="SeverityId" asp-items="Model.Severities" class="form-select"
                            onchange="CalculateRisk(); SeverityHelperCheck(this);">
                        </select>
                        <span class="helper-text" id="SeverityHelper"></span>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group mb-3">
                        <label asp-for="FrequencyId"
                            class="form-label fw-bold text-uppercase small custom-label"></label>
                        <select asp-for="FrequencyId" asp-items="Model.Frequencies" class="form-select"
                            onchange="CalculateRisk(); FrequencyHelperCheck(this);">
                        </select>
                        <span class="helper-text" id="FrequencyHelper"></span>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group mb-3">
                        <label asp-for="ExposureId"
                            class="form-label fw-bold text-uppercase small custom-label"></label>
                        <select asp-for="ExposureId" asp-items="Model.Exposures" class="form-select"
                            onchange="CalculateRisk(); ExposureHelperCheck(this);">
                        </select>
                        <span class="helper-text" id="ExposureHelper"></span>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group mb-3">
                        <label asp-for="RawRisk" class="form-label fw-bold text-uppercase small custom-label"></label>
                        <div class="d-flex align-items-center">
                            <button type="button" class="btn @Model.RawRiskColour" style="min-width: 80px;"
                                id="RawRiskDisplay">
                                @Model.RawRisk
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <div class="form-group mb-3">
                        <label asp-for="EliminateId"
                            class="form-label fw-bold text-uppercase small custom-label"></label>
                        <select asp-for="EliminateId" asp-items="Model.Eliminates" class="form-select">
                        </select>
                        <span asp-validation-for="EliminateId" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="form-group mb-3">
                        <label asp-for="EliminateRec"
                            class="form-label fw-bold text-uppercase small custom-label"></label>
                        <textarea asp-for="EliminateRec" class="form-control" rows="3"></textarea>
                        <span asp-validation-for="EliminateRec" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <hr style="color: #9ca0a5;" />
            <div class="row d-none d-md-flex">
                <div class="col-md-3">
                </div>
                <div class="col-md-4">
                    <label class="form-label fw-bold text-uppercase small custom-label">Current Controls</label>
                </div>
                <div class="col-md-5">
                    <label class="form-label fw-bold text-uppercase small custom-label">Recommendations</label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group mb-3">
                        <label asp-for="EngControlId"
                            class="form-label fw-bold text-uppercase small custom-label"></label>
                        <select asp-for="EngControlId" asp-items="Model.EngControls" class="form-select" 
                            onchange="CalculateResidualAndPriority();">
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group mb-3">
                        <label asp-for="CurrentEngControls"
                            class="form-label fw-bold text-uppercase small d-block d-sm-none custom-label"></label>
                        <textarea asp-for="CurrentEngControls" class="form-control" rows="3"></textarea>
                        <span asp-validation-for="CurrentEngControls" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group mb-3">
                        <label asp-for="RecEngControls"
                            class="form-label fw-bold text-uppercase small d-block d-sm-none custom-label"></label>
                        <textarea asp-for="RecEngControls" class="form-control" rows="3"></textarea>
                        <span asp-validation-for="RecEngControls" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <div class="form-group mb-3">
                        <label asp-for="AdminControlId"
                            class="form-label fw-bold text-uppercase small custom-label"></label>
                        <select asp-for="AdminControlId" asp-items="Model.AdminControls" class="form-select"
                                onchange="CalculateResidualAndPriority();">
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group mb-3">
                        <label asp-for="CurrentAdminControls"
                            class="form-label fw-bold text-uppercase small d-block d-sm-none custom-label"></label>
                        <textarea asp-for="CurrentAdminControls" class="form-control" rows="3"></textarea>
                        <span asp-validation-for="CurrentAdminControls" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group mb-3">
                        <label asp-for="RecAdminControls"
                            class="form-label fw-bold text-uppercase small d-block d-sm-none custom-label"></label>
                        <textarea asp-for="RecAdminControls" class="form-control" rows="3"></textarea>
                        <span asp-validation-for="RecAdminControls" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <div class="form-group mb-3">
                        <label asp-for="ManagementSuperId"
                            class="form-label fw-bold text-uppercase small custom-label"></label>
                        <select asp-for="ManagementSuperId" asp-items="Model.ManagementSupers" class="form-select" 
                            onchange="CalculateResidualAndPriority();">
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group mb-3">
                        <label asp-for="CurrentManagementSuperControls"
                            class="form-label fw-bold text-uppercase small d-block d-sm-none custom-label"></label>
                        <textarea asp-for="CurrentManagementSuperControls" class="form-control" rows="3"></textarea>
                        <span asp-validation-for="CurrentManagementSuperControls" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-5">
                    <div class="form-group mb-3">
                        <label asp-for="RecManagementSuperControls"
                            class="form-label fw-bold text-uppercase small d-block d-sm-none custom-label"></label>
                        <textarea asp-for="RecManagementSuperControls" class="form-control" rows="3"></textarea>
                        <span asp-validation-for="RecManagementSuperControls" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <div class="form-group mb-3">
                        <label asp-for="PPEControlId"
                            class="form-label fw-bold text-uppercase small custom-label"></label>
                        <select asp-for="PPEControlId" asp-items="Model.PPEControls" class="form-select" 
                            onchange="CalculateResidualAndPriority();">
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group mb-3">
                        <label asp-for="CurrentPPEControls"
                            class="form-label fw-bold text-uppercase small d-block d-sm-none custom-label"></label>
                        <textarea asp-for="CurrentPPEControls" class="form-control" rows="3"></textarea>
                        <span asp-validation-for="CurrentPPEControls" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-5">
                    <div class="form-group mb-3">
                        <label asp-for="RecPPEControls"
                            class="form-label fw-bold text-uppercase small d-block d-sm-none custom-label"></label>
                        <textarea asp-for="RecPPEControls" class="form-control" rows="3"></textarea>
                        <span asp-validation-for="RecPPEControls" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <div class="form-group mb-3">
                        <label asp-for="ConformLegalReqId"
                            class="form-label fw-bold text-uppercase small custom-label"></label>
                        <select asp-for="ConformLegalReqId" asp-items="Model.ConformLegalReqs" class="form-select" 
                            onchange="CalculateResidualAndPriority();">
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group mb-3">
                        <label asp-for="CurrentConformLegalReqControls"
                            class="form-label fw-bold text-uppercase small d-block d-sm-none custom-label"></label>
                        <textarea asp-for="CurrentConformLegalReqControls" class="form-control" rows="3"></textarea>
                        <span asp-validation-for="CurrentConformLegalReqControls" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group mb-3">
                        <label asp-for="RecConformLegalReqControls"
                            class="form-label fw-bold text-uppercase small d-block d-sm-none custom-label"></label>
                        <textarea asp-for="RecConformLegalReqControls" class="form-control" rows="3"></textarea>
                        <span asp-validation-for="RecConformLegalReqControls" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-2">
                    <div class="form-group mb-3">
                        <label asp-for="ResidualRisk"
                            class="form-label fw-bold text-uppercase small custom-label"></label>
                        <div class="d-flex align-items-center">
                            <button type="button" class="btn @Model.ResidualRiskColour" style="min-width: 80px;"
                                    id="ResidualRiskDisplay">
                                @Model.ResidualRisk
                            </button>
                        </div>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="form-group mb-3">
                        <label asp-for="Priority" class="form-label fw-bold text-uppercase small custom-label"></label>
                        <div class="d-flex align-items-center">
                            <button type="button" class="btn @Model.ResidualRiskColour" style="min-width: 80px;"
                                id="PriorityDisplay">
                                @Model.Priority
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <hr style="color: #9ca0a5;" />
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group mb-3">
                        <label asp-for="AssignedToCompositeId"
                            class="form-label fw-bold text-uppercase small custom-label"></label>

                        <select asp-for="AssignedToCompositeId" asp-items="Model.AssignedTo" class="form-select">
                        </select>
                        <span asp-validation-for="AssignedToCompositeId" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group mb-3">
                        <label asp-for="AssignedDate"
                            class="form-label fw-bold text-uppercase small custom-label"></label>
                        <input asp-for="AssignedDate" type="date" class="form-control" />
                        <span asp-validation-for="AssignedDate" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group mb-3">
                        <label asp-for="CorrectiveActionDate"
                            class="form-label fw-bold text-uppercase small custom-label"></label>
                        <input asp-for="CorrectiveActionDate" type="date" class="form-control" />
                        <span asp-validation-for="CorrectiveActionDate" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <a class="btn btn-secondary" asp-controller="Assessment" asp-action="Assessments"
                        asp-route-riskid="@Model.RiskUid"
                        asp-route-holdingcompanyid="@Model.HoldingCompanyId">Cancel</a>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script>
        function CalculateResidualAndPriority() {
            var rawRisk = parseInt($("#RawRisk").val()) || 0;
            var engControl = parseInt($("#EngControlId").val()) || 0;
            var adminControl = parseInt($("#AdminControlId").val()) || 0;
            var managementSuperControl = parseInt($("#ManagementSuperId").val()) || 0;
            var ppeControl = parseInt($("#PPEControlId").val()) || 0;
            var conformLegalReqControl = parseInt($("#ConformLegalReqId").val()) || 0;

            $.ajax({
                url: '@Url.Action("ResidualAndPriority", "Calculator")',
                type: 'GET',
                data: {
                    rawRisk: rawRisk,
                    engControl: engControl,
                    adminControl: adminControl,
                    managementSuperControl: managementSuperControl,
                    ppeControl: ppeControl,
                    conformLegalReqControl: conformLegalReqControl
                },
                success: function (result) {
                    $("#ResidualRisk").val(result.residualRisk);

                    // Update the raw risk display
                    var $residualRiskDisplay = $('#ResidualRiskDisplay');
                    $residualRiskDisplay.text(result.residualRisk);

                    // Update ResidualRiskDisplay color based on risk value
                    $residualRiskDisplay.removeClass('btn-danger btn-warning btn-success');
                    $residualRiskDisplay.addClass(result.displayColour);

                    // Update the raw risk display
                    var $priorityDisplay = $('#PriorityDisplay');
                    $priorityDisplay.text(result.priority);

                    // Update ResidualRiskDisplay color based on risk value
                    $priorityDisplay.removeClass('btn-danger btn-warning btn-success');
                    $priorityDisplay.addClass(result.displayColour);
                }
            });
        }
        function CalculateRisk() {
            var severity = parseInt($("#SeverityId").val()) || 0;
            var frequency = parseInt($("#FrequencyId").val()) || 0;
            var exposure = parseInt($("#ExposureId").val()) || 0;

            $.ajax({
                url: '@Url.Action("RawRisk", "Calculator")',
                type: 'GET',
                data: {
                    severityId: severity,
                    frequencyId: frequency,
                    exposureId: exposure
                },
                success: function (result) {
                    $("#RawRisk").val(result.rawRisk);

                    // Update the raw risk display
                    var $rawRiskDisplay = $('#RawRiskDisplay');
                    $rawRiskDisplay.text(result.rawRisk);

                    // Update RawRiskDisplay color based on risk value
                    $rawRiskDisplay.removeClass('btn-danger btn-warning btn-success');
                    $rawRiskDisplay.addClass(result.displayColour);

                    CalculateResidualAndPriority();
                }
            });
        }
        function SeverityHelperCheck(element) {
            $.ajax({
                url: '@Url.Action("SeverityChange", "HelperText")',
                type: 'GET',
                data: {
                    severityId: $(element).val()
                },
                success: function (result) {
                    $('#SeverityHelper').text(result);
                }
            });
        }
        function ExposureHelperCheck(element) {
            $.ajax({
                url: '@Url.Action("ExposureChange", "HelperText")',
                type: 'GET',
                data: {
                    exposureId: $(element).val()
                },
                success: function (result) {
                    $('#ExposureHelper').text(result);
                }
            });
        }
        function FrequencyHelperCheck(element) {
            $.ajax({
                url: '@Url.Action("FrequencyChange", "HelperText")',
                type: 'GET',
                data: {
                    frequencyId: $(element).val()
                },
                success: function (result) {
                    $('#FrequencyHelper').text(result);
                }
            });
        }
    </script>
}

<style>
    .custom-label {
        color: #9b9494;
    }
    .helper-text {
        font-size: 10px !important;
    }
</style>